<h1 class="col-md-offset-1">BIO</h1>
<div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
        <img class="profilePic img-responsive col-xs-12" src="/Resources/ProfilePIC.jpg" width="300" height="500" alt="Profile Pic" />
        <div class="skillSet col-xs-12">
            <hr />
            <p class="skill col-xs-12">C#</p>
            <p class="skill col-xs-12">ASP .NET</p>
            <p class="skill col-xs-12">MVC 5</p>
            <p class="skill col-xs-12">TSQL</p>
            <p class="skill col-xs-12">AngularJS</p>
            <p class="skill col-xs-12">SQL Server</p>
            <p class="skill col-xs-12">Entity Framework</p>
            <p class="skill col-xs-12">HTML5</p>
            <p class="skill col-xs-12">CSS3</p>
            <p class="skill col-xs-12">JavaScript</p>
            <p class="skill col-xs-12">ReST</p>
            <p class="skill col-xs-12">JSON</p>
            <p class="skill col-xs-12">jQuery</p>
            <p class="skill col-xs-12">Razor (C#)</p>
            <p class="skill col-xs-12">VBScript</p>
            <p class="skill col-xs-12">SharePoint 2013</p>
        </div>

    </div>
    <div class="col-xs-12 col-md-8">
        content
    </div>
</div>
