<h1 class="col-md-offset-1">Jordan Shields .Net</h1>
<div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
        <img class="profilePic img-responsive col-xs-6" src="/Resources/ProfilePIC.jpg" width="300" height="500" alt="Profile Pic" />        
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="skillSet col-xs-12">
            <!--<p class="skillHeader skill col-xs-12 col-xs-offset-4">Skills</p>
            <hr />-->
            <p class="skill col-xs-12 col-md-4">C#</p>
            <p class="skill col-xs-12 col-md-4">ASP .NET Core</p>
            <p class="skill col-xs-12 col-md-4">MVC Core</p>

            <p class="skill col-xs-12 col-md-4">TSQL</p>
            <p class="skill col-xs-12 col-md-4">AngularJS</p>
            <p class="skill col-xs-12 col-md-4">SQL Server 2016</p>

            <p class="skill col-xs-12 col-md-4">Entity Framework</p>
            <p class="skill col-xs-12 col-md-4">PHI/HIPPA</p>
            <p class="skill col-xs-12 col-md-4">Data Encryption</p>

            <p class="skill col-xs-12 col-md-4">API Integrations</p>
            <p class="skill col-xs-12 col-md-4">Identity Server 4</p>
            <p class="skill col-xs-12 col-md-4">JavaScript</p>

            <p class="skill col-xs-12 col-md-4">jQuery</p>
            <p class="skill col-xs-12 col-md-4">Razor (C#)</p>
            <p class="skill col-xs-12 col-md-4">VBScript</p>            
        </div>
    </div>
</div>
