<h1 class="col-md-offset-1">Currently Under Construction</h1>
<div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
        <img class="profilePic img-responsive col-xs-6" src="/Resources/ProfilePIC.jpg" width="300" height="500" alt="Profile Pic" />        
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="skillSet col-xs-12">
            <!--<p class="skillHeader skill col-xs-12 col-xs-offset-4">Skills</p>
            <hr />-->
            <p class="skill col-xs-12 col-md-4">C#</p>
            <p class="skill col-xs-12 col-md-4">ASP .NET</p>
            <p class="skill col-xs-12 col-md-4">MVC 5</p>
            <p class="skill col-xs-12 col-md-4">TSQL</p>
            <p class="skill col-xs-12 col-md-4">AngularJS</p>
            <p class="skill col-xs-12 col-md-4">SQL Server</p>
            <p class="skill col-xs-12 col-md-4">Entity Framework</p>
            <p class="skill col-xs-12 col-md-4">HTML5</p>
            <p class="skill col-xs-12 col-md-4">CSS3</p>
            <p class="skill col-xs-12 col-md-4">JavaScript</p>
            <p class="skill col-xs-12 col-md-4">ReST</p>
            <p class="skill col-xs-12 col-md-4">JSON</p>
            <p class="skill col-xs-12 col-md-4">jQuery</p>
            <p class="skill col-xs-12 col-md-4">Razor (C#)</p>
            <p class="skill col-xs-12 col-md-4">VBScript</p>
            <p class="skill col-xs-12 col-md-4">SharePoint 2013</p>
        </div>
    </div>
</div>
